@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body,
#app,
#app > div {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;

  font-size: 2rem;
  margin: 1.5rem 0rem;
}

h4,
.App-header {
  text-align: center;
}

.category-btn {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.category-list {
  text-align: center;
}

.ol-college-list {
  display: inline-block;
  text-align: left;
  padding-inline-start: 0;
  margin: 0;
}

.li-college-name {
  display: block;
  margin: 0.5rem 0rem;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  padding: 0rem 2em;
  text-align: center;
}

p {
  text-align: center;
}

#source {
  text-decoration: underline;
  color: white;
}
